<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../CSS/menu.CSS">
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a id="signout" href="/auth/signout">Signout</a>
        </nav>
    </header>
    <main>
        <div class="chat-header">
            <h2>My chats:</h2>
            <button id="create-chat">Create chat</button>
        </div>
        <div id ="chat-grid" class="grid-container">
            
        </div>
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let userId = "<%= user %>";
        async function fetchChats() {
            try {
                const response = await fetch(`/user/${userId}/getChats`, {
                method: 'GET',
                });
                if (response.ok) {
                    const chats = await response.json();
                    return chats;
                } else {
                        console.error("Failed to fetch chats. Status:", response.status);
                }
            } catch (error) {
                console.error(error);
            }
        };

        (async () => {
            const chats = await fetchChats();
            const chatGrid = document.getElementById('chat-grid');
            addChatCards(chats);
        })();


        const createChat = document.getElementById('create-chat');
        createChat.addEventListener('click', async () => {
            const response = await fetch('/chat/newChat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: userId})
            });
            const data = await response.json();
            if (response.ok) {
                console.log(data);
            }
        });


        const addChatCards = (chats) => {
            const chatGrid = document.getElementById('chat-grid');
            chats.forEach(chat => {
                const chatCard = document.createElement('div');
                chatCard.classList.add('card');
                chatCard.textContent = "Chat with ID = " + chat.chatId;
                chatGrid.appendChild(chatCard);
            });
        };


        document.getElementById("signout").addEventListener("click", async (event) => {
            event.preventDefault();
            try {
                const response = await fetch('/auth/signout', {
                    method: 'GET',
                });

                if (response.ok) {
                    window.location.href = '/';
                } else {
                    const error = await response.json();
                    alert(`Error: ${error.message}`);
                }
            } catch (err) {
                alert(`Error de conexión: ${err.message}`);
            }
        });
    });
</script>
</html>