<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../CSS/menu.CSS">
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a id="signout" href="/auth/signout">Signout</a>
        </nav>
    </header>
    <main>
        <div class="chat-header">
            <h2>My chats:</h2>
            <button id="create-chat">Create chat</button>
        </div>
        <div class="grid-container">
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
            <div class="card"> Click me </div>
        </div>
    </main>
</body>
</html>